<div class="url">URL: {{target.url}}</div>
<aside>
  <ul>
    <li><h2>Items</h2></li>
    {{#each model as |item|}}
      <li>
        {{#link-to "item" item current-when="item"}}
          <span class="count">
            {{data.items.length}}
          </span>
          {{data.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>

<section class="main">
  {{outlet}}
</section>